@import "../../css/mixins";
@import "../../css/const";

.reset-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 15px 0 15px;

  &__title {
    margin-bottom: 40px;
  }

  &__description {
    margin-bottom: 60px;
  }

  &__form {
    max-width: 315px;
    width: 100% ;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .reset-password {
    padding-top: 40px;

    & h1 {
      font-size: 26px;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__description {
      margin-bottom: 27px;
    }
  }
}

